/* GLOBALS ---------------------------------------------------*/
:root {
    --cosmic-latte: #FFF8E7; 
    --bg-shade: #9F9B90;
    --mid-shade: #605D57;
    --dark-shade: #201F1D;
    --mid-rgba: rgba(96, 93, 87, 0.6);
    --dark-rgba: rgba(32, 31, 29, 0.7);
    --border: 4px outset var(--dark-rgba);
}

body {
    font-family: monospace;
    box-sizing: border-box;
    background-image: url('../images/rain-drop.jpg');
    background-repeat: no-repeat;
    background-postition: center;
    background-size: cover;
    color: var(--cosmic-latte);
}


/* NAVBAR AND HEADER -----------------------------------------*/

#navbar {
    display: flex;
    flex-wrap: wrap;
    list-decoration: none;
    text-align: center;
    text-shadow: 2px 2px var(--mid-shade);
    background-color: var(--dark-rgba);
    border: var(--border);
}

#navbar > li {
    margin: auto;
    list-style: none;
    font-size: 1.3rem;
    color: var(--cosmic-latte);
    text-shadow: 1px 1px var(--dark-shade);
}

#currentIcon {
    width: 60px;
    filter: drop-shadow(5px 5px var(--dark-shade));
}

input {
    height: 20px;
    border: 4px inset var(--bg-shade);
    border-radius: 10px 5px;
    box-shadow: 0px 2px 10px var(--mid-shade);
}


/* MAIN DIV STYLES -------------------------------------------*/
main {
    border: var(--border);
    height: content;
    background-color: var(--mid-rgba);
}

.w-screen {
    margin: auto;
    margin-bottom: 15px;
    border-radius: 30px 10px 30px 10px;
    border: var(--border);

}

/* SECTION STYLES --------------------------------------------*/
#localWeather,
#forecastWeather {
    padding: 10px;
    margin: auto;
}

.widget {
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 30px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--mid-rgba);
}

.widget > p {
    font-size: 1.1rem;
    background-color: var(--bg-shade);
    border-radius: 10px;
    border: var(--border);
    height: 40px;
    width: 70%;
    padding-top: 4px;
    padding-bottom: 2px;
    margin: auto;
    margin-bottom: 10px;
    color: var(--dark-shade);
}

/* FORECAST ELEMENT STYLES ---------------------------------- */
#forecastWeather {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-evenly;
    text-align: center;
    text-shadow: 2px 2px var(--mid-rgba);
    padding: 10px;
}

#forecastWeather > div {
    border-radius: 10px 5px 10px 5px;
    border: 2px solid var(--dark-rgba);
    background-image: linear-gradient(120deg, var(--mid-rgba), var(--bg-shade), var(--dark-shade));
    background-opacity: 90%;
    padding: 10px;
    margin: 10px;
}